In [3]:
import time # it will give you the current time

In [4]:
time.time() # it is used to find the time complexity [means time taken by the CPU to execute the code]:

1719414934.2511373

In [5]:
start_time = time.time()
for i in range (1,10):
    print(i*i)
    time.sleep(0.5)
end_time = time.time() - start_time
print(f'The time taken by the CPU to execute the code : {end_time}')

1
4
9
16
25
36
49
64
81
The time taken by the CPU to execute the code : 4.505701065063477

In [6]:
import datetime

In [7]:
datetime.datetime.now()

datetime.datetime(2024, 6, 26, 20, 45, 41, 428339)

In [8]:
datetime.datetime.today()

datetime.datetime(2024, 6, 26, 20, 45, 41, 911796)

### what is the difference between R2_score and Adjusted R2_score

In [2]:
# with proper data
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('case2.csv')
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [11]:
x = df.iloc[: , 0]
y = df.iloc[: , -1]
x = x.values.reshape(-1,1)
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x,y) # the model will develop

pred = reg.predict(x) # prediction[real time we call them as inference]

res = pd.DataFrame({'Actual':y , 'predictions': pred})
res

     Actual   predictions
0   39343.0  40076.328432
1   46205.0  41447.019347
2   37731.0  42817.710262
3   43525.0  46244.437548
4   39891.0  47615.128463
5   56642.0  52412.546665
6   60150.0  53097.892122
7   54445.0  54468.583037
8   64445.0  54468.583037
9   57189.0  57895.310323
10  63218.0  59266.001238
11  55794.0  59951.346696
12  56957.0  59951.346696
13  57081.0  60636.692153
14  61111.0  63378.073982

In [13]:
# find the accuracy for this model: [with best data we got 70% accuracy]

from sklearn.metrics import r2_score
r2_score(y , pred)

0.7020755183418668

In [16]:
len(df) # number of rows

15

In [14]:
df.shape[1]  # gives the number of columns

2

In [15]:
# find the adjusted r2_score for this model:
# adjusted r2_score is used to find the accuracy as well as we can decide the new column is important or not
# for existing data set

# finding using formula

1- (1-r2_score(y,pred)) * (len(df)-1) / (len(df) - df.shape[1] - 1)

# adjusted r2_score value is 65%

0.6524214380655111

In [17]:
df = pd.read_csv('case.csv')
df.head()

   YearsExperience   Salary  Height
0              1.1  39343.0    1.47
1              1.3  46205.0    1.50
2              1.5  37731.0    1.52
3              2.0  43525.0    1.55
4              2.2  39891.0    1.57

In [20]:
x = df.drop(['Salary'] , axis = 1)
y = df['Salary']

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x,y) # the model will develop

pred = reg.predict(x) # prediction[real time we call them as inference]

res = pd.DataFrame({'Actual':y , 'predictions': pred})
res

     Actual   predictions
0   39343.0  39424.729262
1   46205.0  40038.252324
2   37731.0  41423.576522
3   43525.0  46430.489285
4   39891.0  47815.813482
5   56642.0  55751.652712
6   60150.0  54900.712541
7   54445.0  56286.036738
8   64445.0  53970.633334
9   57189.0  59749.347231
10  63218.0  60362.870294
11  55794.0  60283.731258
12  56957.0  57968.327854
13  57081.0  57889.188818
14  61111.0  61431.638347

In [21]:
from sklearn.metrics import r2_score
r2_score(y , pred)

0.7388592596500806

In [22]:
1- (1-r2_score(y,pred)) * (len(df)-1) / (len(df) - df.shape[1] - 1)
# adjusted r2_score for this model is 66%

0.6676390577364661

In [23]:
0.6676390577364661 - 0.6524214380655111

0.01521761967095503

## Regularisation [Ridge regression and Lasso Regression]

since we have loss function lets try to implement Ridge and Lasso Regression to improve the performance of the model

'python scripts using restAPI calls[tha data fetch will be done on the backend[webscraping][using the request module]]'

In [5]:
from sklearn.datasets import load_boston

data = load_boston()
dir(data)  # dir is used to give the content in a given variable

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [38]:
df = pd.read_csv('Boston.csv')
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [50]:
a = df.drop(df.columns[[0,-1]] , axis = 1)
target = df['medv']

In [43]:
a

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [52]:
target

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64

In [57]:
df = a
a

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [60]:
df['dependent']= target
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,target,dependent
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,36.2

In [82]:
df = np.reshape(df , (-1,1))

TypeError: 'tuple' object is not callable

In [61]:
# finally we got our dataset:

In [79]:
# split the dataset:

x = df.iloc[: , -1]
y = df.iloc[: , -1]

# we can implement on top of entire data because we are not testing anything

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state  =42)

# give the data to the model

from sklearn.linear_model import LinearRegression
reg = LinearRegression()

reg.fit(X_train,y_train)  # model will be develop here 

# now find the test accuracy of the model

y_test_pred = reg.predict(X_test)

# find the accuracy of the test data to check the performance
from sklearn.metrics import r2_score
print(f'The accuracy of test data :{r2_score (y_test , y_test_pred)}')

ValueError: Expected 2D array, got 1D array instead:
array=[12.  19.9 19.4 13.4 18.2 24.6 21.1 24.7  8.7 27.5 20.7 36.2 31.6 11.7
 39.8 13.9 21.8 23.7 17.6 24.4  8.8 19.2 25.3 20.4 23.1 37.9 15.6 45.4
 15.7 22.6 14.5 18.7 17.8 16.1 20.6 31.6 29.1 15.6 17.5 22.5 19.4 19.3
  8.5 20.6 17.  17.1 14.5 50.  14.3 12.6 28.7 21.2 19.3 23.1 19.1 25.
 33.4  5.  29.6 18.7 21.7 23.1 22.8 21.  48.8 14.6 16.6 27.1 20.1 19.8
 21.  41.3 23.2 20.4 18.5 29.4 36.4 24.4 11.8 13.8 12.3 17.8 33.1 26.7
 13.4 14.4 50.  22.  19.9 23.8 17.5 12.7  5.6 31.1 26.2 19.4 16.7 13.8
 22.9 15.3 27.5 36.1 22.9 24.5 25.  50.  34.9 31.7 24.1 22.1 14.1 42.8
 19.3 32.2 26.4 21.8 21.7  8.3 46.7 43.1 31.5 10.5 16.7 20.  33.3 17.8
 50.  20.5 23.2 13.1 19.6 22.8 28.7 30.7 22.9 21.9 23.9 32.7 24.3 21.5
 24.6  8.5 26.4 23.1 15.   8.8 19.3 23.9 24.7 19.8 23.8 13.3 29.  27.1
 34.6 13.3 15.6 12.5 14.6 11.  24.8 17.3  8.1 21.4 15.6 23.3 32.  38.7
 30.1 20.5 32.5 42.3 24.3 20.6 22.  18.2 15.   6.3 20.1 21.4 28.4 30.1
 20.8 23.  14.3 11.7 37.3 17.1 10.4 23.  22.7 20.3 21.7 50.   8.4 18.8
 37.2 16.1 16.5 22.2 20.6 13.5 48.3 23.8 22.7 17.4 30.3 36.  41.7 18.3
 22.  18.6 44.8 11.9 18.7 16.2 22.   7.2 20.4 13.8 13.  18.4 23.1 21.2
 23.1 23.5 50.  26.6 22.2 50.   8.3 23.3 21.7 18.9 18.4 17.4 13.4 12.1
 26.6 21.7 28.4 20.5 22.  13.9 11.3 29.9 26.6 10.5 23.2 24.4 46.  21.9
  7.5 36.2 44.  17.8 27.5 37.6 14.1 28.1 10.2 19.1 43.8 27.9 25.  16.
 16.6 13.2 50.  22.2 32.9 15.2 14.8 13.8 24.3 33.8 22.3 50.   9.5 13.3
 22.2 18.1 18.  25.  16.5 23.  20.1 33.  24.8 18.2 13.1 34.9 10.2 19.9
 27.9 23.3 35.1 12.8 22.  18.5 25.1 22.5 22.4 28.6 19.5 24.8 24.5 21.4
 33.1 22.9 20.7 24.1 50.  24.7 28.7  7.2 37.  20.3 30.1 19.5 23.4 11.5
 21.6 14.9 15.2 19.4  8.4 28.  22.6 13.5 14.5 31.  10.9 21.9 22.  19.
 21.4 25.  17.5 36.5 20.1 20.4 16.2 23.6  7.4 35.2 50.  19.3 21.2 15.6
 33.4 19.1 21.  23.7 18.9 16.8 19.7 17.7 22.6 11.8 34.9 20.6 20.2 32.
 22.3 23.3 14.4 31.2 24.  29.6 19.6 21.6 20.  27.  33.2 15.4 30.5  7.2
 23.9 16.3 23.9 50.  22.8 15.4 19.2 19.6 22.6 33.2 50.  22.2 14.9 19.8
 23.7 19.  20.3 11.9 13.6 29.8 21.7 19.5 21.1 24.5 13.4 18.6].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.